{% extends 'base.html.twig' %}

{% block title %}Calculator{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    button { background: grey; font-weight: bold; border: 1px solid black; padding: 8px; margin-top: 10px}
</style>

<div class="example-wrapper">
    <h1> {{ controller_name }} ✅</h1>

    <form action="{{path('calculator') }}" method="POST">
    Pirmas skaicius: 
    <br>
    <input type="text" name="x">
    <br>
    Antras skaicius: 
    <br>
    <input type="text" name="y">
    <br>
    <button type="submit">SUMA</button>
    </form>

    <br>

    {% if result %}
        <h1> RESULT: {{ result }} </h1>
    {% endif %}
    
    <br>
    <br>
    <br>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/my_project1/src/Controller/CalculatorController.php'|file_link(0) }}">src/Controller/CalculatorController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/my_project1/templates/calculator/index.html.twig'|file_link(0) }}">templates/calculator/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
